{{ ansible_managed | comment(decoration='# ') }}
{% from "macros/macros.j2" import print_segment %}

{% for segment, v in mariadb_config.items() %}
[{{ segment }}]
{{ print_segment(v) }}
{% endfor %}
