{{ ansible_managed | comment(decoration='# ') }}

[mysqld]

# Logging configuration.
{% if mariadb_log_error == 'syslog' or mariadb_log == 'syslog' %}
syslog
syslog-tag = {{ mariadb_syslog_tag }}
{% else %}
{% if mariadb_log %}
#log = {{ mariadb_log }}
{% endif %}
log-error = {{ mariadb_log_error }}
{% endif %}

{% if mariadb_slow_query_log_enabled %}
# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = {{ mariadb_slow_query_log_file }}
long_query_time = {{ mariadb_slow_query_time }}
{% endif %}
