{{ ansible_managed | comment(decoration='# ') }}

[mysqld]

# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!

{% if mariadb_supports_innodb_large_prefix %}
innodb_large_prefix     = {{ mariadb_innodb_large_prefix }}
{% if mariadb_innodb_file_format is defined and  mariadb_innodb_file_format != '' %}
innodb_file_format      = {{ mariadb_innodb_file_format }}
{% endif %}
{% endif %}
innodb_file_per_table   = {{ mariadb_innodb_file_per_table }}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_log_file_size    = {{ mariadb_innodb_log_file_size }}
innodb_log_buffer_size  = {{ mariadb_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mariadb_innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mariadb_innodb_lock_wait_timeout }}

{% if mariadb_innodb_data_file_path is defined and mariadb_innodb_data_file_path != '' %}
innodb_data_file_path    = {{ mariadb_innodb_data_file_path }}
{% endif %}
