{{ ansible_managed | comment(decoration='# ') }}

[mysqld]

{% if mariadb_replication_master %}
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
server-id                = {{ mariadb_server_id }}

  {% if mariadb_replication_role == 'master' %}
log_bin                  = {{ mariadb_log_bin | default('/var/log/mysql/mysql-bin.log') }}
log_bin_index            = {{ mariadb_log_bin_index | default('/var/log/mysql/mysql-bin.index') }}

expire_logs_days         = {{ mariadb_expire_logs_days }}
max_binlog_size          = {{ mariadb_max_binlog_size }}

    {% for db in mariadb_databases %}
      {% if db.replicate|default(1) %}

binlog_do_db             = {{ db.name }}
      {% else %}
binlog_ignore_db         = {{ db.name }}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if mariadb_replication_role == 'slave' %}
read_only
relay-log                = relay-bin
relay-log-index          = relay-bin.index
  {% endif %}
{% endif %}
